{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "complexity": [
      "error",
      5
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "pathGroups": [
          {
            "group": "external",
            "pattern": "~/**",
            "position": "after"
          }
        ]
      }
    ],
    "max-len": [
      "error",
      120
    ]
  }
}
